<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataLibrary.Properties.Settings.UserListConnectionString"
            connectionString="Data Source=.\sql2012;Initial Catalog=UserList;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>