@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
    <link href="~/Content/site.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery.ui.all.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/jquery-2.0.3.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.10.3.js"></script>
    <script type="text/javascript" src="~/Scripts/MVCControlToolkit.Controls-2.4.0.js"></script>
    <script type="text/javascript" src="~/Scripts/MVCControlToolkit.Utils-2.4.0.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
