<!DOCTYPE html>
<html lang="eng">
    <head>
        <title>
        </title>
    </head>
    <body>
        <div>
            <form method="POST" action="/fileupload" enctype="multipart/form-data">
                <input type="file" name="file"/>
                <button type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>